#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Commander Toolbox
Comment=Distro-agnostic toolbox designed to simplify everyday Linux tasks
Exec=commander-toolbox
Icon=utilities-terminal
Type=Application
Terminal=true
Categories=Utility;
